body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: rgba(30, 30, 30, 1); /* Main background color across all sections */
}

